body {
  background-color: #f8f9fa;
}

header {
  background-color: #6f42c1;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-primary:hover {
  background-color: #5a379f;
  border-color: #52347d;
}